@import '/scss/utils/variable';

.payWayBox {
	display: flex;
	flex-direction: column;
	width: 100%;
	border: 1px solid $color-bgcd346;
	border-radius: $radius6;

	.payWayItem {
		align-items: center;
		padding: 9px 0;
		border-bottom: 1px solid $color-bgcd346;

		.ant-radio {
			margin-top: -4px;
		}
	}

	.payWayItem:last-child {
		border-bottom: none !important;
	}

	.payMethods {
		font-size: 13px;
		color: $color-font18;

		.paypalIcon {
			display: inline-block;
			background-image: url('/static/img/icons/PayPal.jpg');
			background-repeat: no-repeat;
			background-size: 84px 30px;
			width: 84px;
			height: 30px;
		}

		.alipayIcon {
			display: inline-block;
			background-image: url('/static/img/icons/alipay.png');
			background-repeat: no-repeat;
			background-size: 84px 30px;
			width: 84px;
			height: 30px;
		}
	}
}