.alsoContainer {
	max-width: 998px;
	overflow-y: hidden;
	overflow-x: auto;
	scrollbar-width: none;
	scroll-behavior: smooth; //平滑滚动 
}

.alsoSections {
	position: sticky;
	// transform: translateX(0px);
	padding: 12px;
	scrollbar-width: 0;
}

.ProductCard {
	// height: 272px;
	height: 180px;
	width: 170px;
	max-width: 170px;
	cursor: pointer;
	border: 1px solid #e3e7ee;
	border-radius: 6px;

	a {
		width: 100%;
		height: 100%;
	}

	.CardItem {
		width: 100%;
		height: 100%;
		padding: 10px;
		// border: 1px solid #e3e7ee;
		// border-radius: 6px;

		img {
			height: 64px;
			width: 64px;
			// height: 156px;
			// width: 100%;
		}

		button {
			color: #1770DE;
			border: 1px solid #1770DE;
			background: transparent;
			font-size: 12px;
			line-height: 22px;
			height: 32px;
			border-radius: 6px;
			width: 100px;

			&:hover {
				background-color: #1770DE !important;
				color: #fff !important;
			}
		}
	}

	&:hover {
		.label {
			color: #1770DE;
		}
	}
}

.btnPrev {
	background-color: rgb(75, 75, 75);
	border: none;
	bottom: 0px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	height: 48px;
	margin: auto;
	opacity: 0.8;
	padding: 2px;
	position: absolute;
	top: 0px;
	width: 30px;
	z-index: 1;
	border-radius: 0px 4px 4px 0px;
	left: 0px;

	svg {
		transform: scaleX(-1);
	}
}

.btnNext {
	background-color: rgb(75, 75, 75);
	border: none;
	bottom: 0px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	height: 48px;
	margin: auto;
	opacity: 0.8;
	padding: 2px;
	position: absolute;
	top: 0px;
	width: 30px;
	z-index: 9;
	border-radius: 4px 0px 0px 4px;
	right: 0px;
}

.vsFont {
	font-size: 10px;
	font-style: italic;
}