.zqx-pagination {
  .zqx-pagination-page {
    margin-left: 20px;

    .zqx-pagination-page-item {
      margin: 0 5px;
      border: 1px solid transparent;
      border-radius: 2px;
      height: 24px;
      line-height: 24px;
      min-width: 24px;
      text-align: center;
      cursor: pointer;
			border: 1px solid #e3e7ee;
			color: #1770de;

      &:hover {
				border: 1px solid #1770de;
        color: #1770de;
      }

      &.active {
        background-color: #1770de;
        border: 1px solid #1770de;
        color: white;
      }

      &.disabled {
        cursor: not-allowed;
        background-color: #f0f1f3;
        border: 1px solid #888 ;
        color: #888 ;
      }
    }

    .zqx-pagination-page-text {
      color: gray;
    }
  }

  .zqx-pagination-right {
    margin-left: 10px;

    .zqx-pagination-right-total-page {
      height: 30px;
      line-height: 30px;
      text-align: center;
      padding: 0 5px;
      background-color: #f0f1f3;
      border: 1px solid yellow;
      border-left: none;
    }
  }
}