@import '/scss/utils/variable';

@mixin bgcBase {
	background-repeat: no-repeat;
	background-position: top;
	background-size: auto 100%;
}

.pubTopBgc {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;

	.pubTopBgcContent {
		position: absolute;
		left: 0;
		right: 0;
		transform: translateY(-50%);
		top: 50%;
		max-height: 96%;
		overflow-y: auto;
	}

	.pubTopImg {
		width: 100%;
		// max-height: 500px;
		min-height: 130px; // inherit
		max-height: inherit;
		// image-rendering: pixelated;
		// object-fit: cover;
		// image-rendering: pixelated;
		// object-fit: none; // 通过img加载图片，当图片缩放时失真 (不要设置height)
	}

	// pc端图片
	.img1 {
		display: block;
	}

	.img2,
	.img3 {
		display: none;
	}

	.pubTopBgcTitle {
		font-size: 42px !important;
		color: $color-bgc555;
		max-width: 800px;
		word-wrap: break-word;
	}

	.pubTopBgcDes {
		color: $color-bgc555;
	}

	// ipad
	@media (max-width: 1200px) {
		.pubTopBgcTitle {
			margin-bottom: 10px !important;
			font-size: 26px !important;
		}

		.pubTopBgcDes {
			max-width: 100%;
			font-size: 13px !important;
		}

		.img1,
		.img3 {
			display: none;
		}

		.img2 {
			display: block;
		}
	}

	// 手机端
	@media (max-width: 750px) {
		.pubTopImg {
			object-fit: cover;
		}

		.img1,
		.img2 {
			display: none;
		}

		.img3 {
			display: block;
		}
	}

	@media (max-width: 500px) {
		.pubTopBgcTitle {
			font-size: 18px !important;
			margin-bottom: 5px !important;
		}
	}


}

// 推荐供应商bgc
.popularManufacturersBgc {
	height: 380px;
	@include bgcBase;
	background-image: url('/static/img/bg/popular-manufacturers.jpg'); // background: linear-gradient(to right, rgb(242, 245, 255), rgb(242, 245, 255) 50%, rgba(242, 245, 255, 0)) left center / calc(100% - 1920px) 100% no-repeat, linear-gradient(to left, rgb(242, 245, 255), rgb(242, 245, 255) 50%, rgba(242, 245, 255, 0)) right center / calc(100% - 1920px) 100% no-repeat, url('/static/img/bg/popular-manufacturers.jpg') center center / 100% no-repeat
}

@media (min-width: 1930px) {
	.pubTopBgc {
		background-size: cover !important;
		background-position: top !important;
	}
}

@media (max-width: 1200px) {
	.popularManufacturersBgc {
		height: 250px;
	}
}

@media (max-width: 750px) {
	.popularManufacturersBgc {
		height: 150px;
	}
}

// 所有供应商
.allManufacturer {
	.banBgc {
		height: 500px;
		background: linear-gradient(to right, rgb(226, 234, 248), rgb(226, 234, 248) 50%, rgba(240, 249, 254, 0)) left center / calc(100% - 1920px) 100% no-repeat, linear-gradient(to left, rgb(212, 224, 238), rgb(212, 224, 238) 50%, rgba(222, 233, 245, 0)) right center / calc(100% - 1920px) 100% no-repeat, url('/static/img/bg/manufacturer.jpg') center center / 1920px 520px no-repeat;
		// background: linear-gradient(to right, rgb(242, 245, 255), rgb(242, 245, 255) 50%, rgba(242, 245, 255, 0)) left center / calc(100% - 1920px) 100% no-repeat, linear-gradient(to left, rgb(242, 245, 255), rgb(242, 245, 255) 50%, rgba(242, 245, 255, 0)) right center / calc(100% - 1920px) 100% no-repeat, url('/static/img/bg/manufacturer.jpg') center center / 100% no-repeat
	}

	@media (max-width: 1179px) {
		.banBgc {
			height: 300px;
		}
	}

	// @media (max-width: 768px) {
	// 	.banBgc {
	// 		height: 160px;
	// 	}
	// }
}


.PartQualityViewBgc {
	height: 511px;
	@include bgcBase;
	background-image: url('/static/img/bg/quality-bgc.png')
}

// 关于我们
.aboutUsBgc {
	height: 360px;
	@include bgcBase;
	background-image: url('/static/img/bg/aboutBan.png')
}

// 联系我们
.contactUsBgc {
	height: 415px;
	@include bgcBase;
	background-image: url('/static/img/bg/contactUsBgc.jpg')
}

// 运费
.shippingRatesBgc {
	height: 500px;
	@include bgcBase;
	background-image: url('/static/img/bg/shipping-rates1.png');

	.pubTopBgcTitle {
		margin-top: 60px;
	}
}

@media (max-width: 800px) {

	.aboutUsBgc,
	.contactUsBgc,
	.shippingRatesBgc {
		height: 200px;
	}
}



// 在使用 React 和 Next.js 时，选择使用 background-image 还是 img 标签来渲染公共的 banner 图像，主要取决于你的具体需求和性能考量。以下是两种方法的比较：

// 1. 使用 background-image
// 优点：
// 灵活性：可以通过 CSS 样式灵活地设置背景图像，比如设置背景位置、重复、大小等。
// 层叠效果：可以方便地将图像与其他内容进行层叠，创建更复杂的布局。
// 性能：在某些情况下，使用背景图像可能更节省内存，因为它不直接占用 HTML 文档中的元素。
// 缺点：
// 无语义：不提供有关图像内容的语义信息，对搜索引擎优化（SEO）和无障碍功能（如屏幕阅读器）不友好。
// 图片加载：背景图像的加载行为和优先级可能与 img 标签有所不同，可能会影响首屏渲染速度。
// 示例：
// css
// .banner {
//   background-image: url('/path/to/banner.jpg');
//   background-size: cover;
//   background-position: center;
//   height: 300px; /* 根据需要调整 */
// }
// jsx
// <div className="banner"></div>
// 2. 使用 img 标签
// 优点：
// 语义化：img 标签提供了更多语义信息，例如 alt 属性，可以提高 SEO 和无障碍性。
// 响应式：可以使用 srcset 和 sizes 属性来提供不同分辨率的图像以适应不同的屏幕尺寸。
// 控制：可以直接控制图像的宽度、高度、加载行为等。
// 缺点：
// 布局限制：需要使用 CSS 来实现类似背景图像的效果，比如填充容器、居中对齐等。
// 可能占用更多 DOM 元素：如果页面中有多个 img 标签，可能会增加 DOM 元素的数量。
// 示例：
// jsx
// import Image from 'next/image';

// const Banner = () => (
//   <div style={{ position: 'relative', width: '100%', height: '300px' }}>
//     <Image
//       src="/path/to/banner.jpg"
//       alt="Banner Image"
//       layout="fill" /* 适应容器 */
//       objectFit="cover" /* 保持图像比例 */
//     />
//   </div>
// );
// 性能比较
// 首屏渲染：通常 img 标签可能会更适合于首屏渲染，因为它可以利用浏览器的内置优化功能（如懒加载）来提高加载速度。使用 next/image 组件可以进一步优化图像加载。
// 响应式设计：img 标签通过 srcset 可以在不同的设备上加载不同分辨率的图像，从而减少不必要的带宽消耗。
// 结论
// 如果你需要更多的图像控制、响应式设计支持以及无障碍功能，使用 img 标签（特别是 next/image 组件）会更合适。
// 如果你只需要图像作为背景装饰，并且不需要与图像交互，使用 background-image 是一个简单有效的选择。
// 在 Next.js 中，使用 next/image 组件通常是推荐的做法，因为它提供了内置的优化和更好的性能支持。