@import '/scss/utils/variable';

.tabsBox {
	width: 100%;
	height: 60px;
	padding: 0 150px;
	height: 52px;
	box-shadow: 0px 0px 5px 0px $color-bgcd3;
	background-color: $color-white;
	font-size: 16px;
	z-index: 9;

	.tabsActive {
		position: relative;
		color: $color-link !important;

		&:after {
			content: "";
			display: inline-block;
			position: absolute;
			height: 2px;

			background-color: $color-link;
			width: 100%;
			left: 0;
			bottom: 0;
		}
	}

	.tabsItem {
		display: flex;
		align-items: center;
		height: 52px;
		margin-right: 30px;
		font-size: 16px;
		letter-spacing: 0;
		font-weight: normal;
		cursor: pointer;
		white-space: nowrap;

		&:hover {
			color: $color-link;
		}
	}

}