.imageModal {
	.navLabel {
		text-align: left;
		margin: 10px 10px 10px 0;
	}

	.navThumbnail {
		max-height: 600px;
		overflow-y: auto;
		padding: 0;
		text-align: left;
		margin-bottom: 24px;
		margin-right: 16px;
	}

	.navThumbnail .btn {
		display: inline-block;
		padding: 0;
		margin-bottom: 0;
		text-align: center;
		vertical-align: middle;
		touch-action: manipulation;
		background-color: #fff;
		cursor: pointer;
		background-image: none;
		border: 1px solid transparent;
		white-space: nowrap;
		font-size: 13px;
		line-height: 1.428571429;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		&:hover {
			border: 1px solid #1770DE;
		}
	}

	.navThumbnail .btn .imgThumbnail {
		width: 80px;
		height: 80px;
		border: 1px solid #d9d9d9;
		object-fit: cover;
		padding: 0;
		border-radius: 0;
	}

	.navThumbnail .active {
		.imgThumbnail {
			border-bottom: 4px solid #0070bb;
		}
	}
}