@import '/scss//utils/variable';

.requireTip {
	white-space: nowrap;
	border: 1px solid #ff4d4f;
	background: $color-bgcd98;
	border-radius: 6px;
	padding: 3px 5px 5px;
	height: 32px;
}

.tipAbsolute {
	position: absolute;
	left: 0;
	bottom: -38px;
	z-index: 99999;
}

.tipOthers {
	position: relative;
}