@import '/scss//utils/variable';

.footerQuoteBox {
	display: flex;
	position: relative;
	// padding-bottom: 60px;
	// background-color: $color-bgcf5;
	overflow: hidden;
	background: linear-gradient(90deg, #18202e 0, #1d2738);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#18202e", endColorstr="#1d2738", GradientType=1);
	box-shadow: 0 4px 8px 0 rgba(3, 27, 78, .12);
	// min-height: 250px;

	// 左侧
	.left {
		display: table-cell;
		vertical-align: middle;
		padding-top: 60px;
		padding-bottom: 60px;
		width: 50%;
		box-sizing: border-box;

		.subTit {
			line-height: 40px;
			font-size: 28px;
			color: #fff;
		}

		.subDes {
			margin-top: 12px;
			line-height: 28px;
			font-size: 16px;
			color: #fff;
		}

		.btn {
			margin-top: 36px;
		}
	}

	@media screen and (min-width: 769px) {
		.left {
			padding-right: 110px;
		}
	}

	// 右侧
	.rightContent {
		.rightRow {
			max-width: 400px;
		}

		.rightCol {
			max-width: 200px;
			margin-bottom: 60px;
		}

		.subInfo {
			display: table;
			table-layout: fixed;
			width: 100%;
			box-sizing: border-box;

			.subImgBox {
				display: table-cell;
				vertical-align: middle;
				width: 48px;

				.infoImg {
					display: block;
					width: 48px;
					height: 48px;
				}
			}

			.subTitBox {
				display: table-cell;
				vertical-align: middle;
				padding-left: 12px;

				.subTit {
					line-height: 20px;
					font-size: 14px;
					color: #fff;
					font-weight: 400;
				}
			}
		}
	}

	// 769px
	@media screen and (min-width: 1200px) {
		.rightContent {
			position: relative;
			z-index: 2;


		}
	}

	// 大于1200px
	@media screen and (min-width: 1200px) {
		.footerQuoteCon {
			display: flex;
			flex-wrap: wrap;
			padding: 0 30px;
			margin: 0 auto;
			max-width: 1440px;
		}

		.rightBg {
			position: absolute;
			right: -87px;
			top: 0;
			bottom: 0;
			width: 50%;
			z-index: 1;
			transform: skewX(-25deg);
			-ms-transform: skewX(-25deg);
			-moz-transform: skewX(-25deg);
			-webkit-transform: skewX(-25deg);
			-o-transform: skewX(-25deg);
			background: #0055fe;
			background: linear-gradient(90deg, #0055fe 0, #00a4ff);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0055fe", endColorstr="#00a4ff", GradientType=1);
		}
	}

	// 小于1200px
	@media screen and (max-width: 1200px) {

		// 左侧
		.left {
			display: block;
			width: 100%;
			text-align: center;
		}

		// 右侧
		.right {
			width: 100%;
			padding: 32px 50px;
			background: #0055fe;
			background: linear-gradient(90deg, #0055fe 0, #00a4ff);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0055fe", endColorstr="#00a4ff", GradientType=1);
		}

		.rightRow {
			max-width: 100% !important;

		}

		.rightCol {
			max-width: 500px !important;
			margin-bottom: 0px !important;
		}

		.subInfo {
			display: flex !important;
			flex-direction: column;
			align-items: center;

			.subTitBox {
				margin-top: 8px;
				padding-left: 0 !important;
			}
		}

	}

	@media screen and (min-width: 1200px) {
		.right {
			padding-left: 200px;
		}

	}

	@media screen and (min-width: 1200px) {
		.right {
			display: table-cell;
			vertical-align: middle;
			padding-top: 60px;
			// padding-bottom: 60px;
			width: 50%;
			box-sizing: border-box;
		}
	}

	@media screen and (min-width: 1200px) {
		.footerQuoteContainer {
			display: table;
			table-layout: fixed;
			width: 50%;
			font-size: 0;
			box-sizing: border-box;
			background-image: url('/static/img/other/fot-quote.png');
			background-repeat: no-repeat;
			background-size: 380px auto;
			background-position: 48.5% 44px;
		}
	}

	@media screen and (max-width: 1200px) {
		.footerQuoteContainer {
			width: 100%;
		}

		.left {
			position: relative;
			padding: 32px 28px;
			// text-align: center;
			overflow: hidden;
		}
	}

}