.magnifier-container {
	position: relative;
	width: 400px;
	/* 根据实际需要调整 */
	height: 400px;
	/* 根据实际需要调整 */
}

.magnifier-image-container {
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	cursor: zoom-in;
}

.magnifier-zoom {
	position: absolute;
	top: 0;
	left: 110%;
	width: 200%;
	/* 放大倍数，根据实际需要调整 */
	height: 200%;
	/* 放大倍数，根据实际需要调整 */
	background-size: 1000%;
	/* 放大镜区域的背景图尺寸，根据实际需要调整 */
	background-repeat: no-repeat;
	border: 1px solid #ccc;
	/* 可选的放大镜边框样式 */
	z-index: 10;
	display: block;
	visibility: visible;
	opacity: 1;
	pointer-events: none;
	/* 避免放大镜影响鼠标事件 */
	transform: translateX(-50%) translateY(-50%);
	/* 调整放大镜位置 */
}