.m-page-container {
    overflow-x: hidden;
}

.common-bg-image-icon1 {
    background-image: url(/static/img/mobile/bg-icon-1.svg);
    background-size: 760px 210px;
    background-repeat: no-repeat;
}

.common-bg-image-icon2 {
    background-image: url(/static/img/mobile/bg-icon-2.svg);
    background-size: 550px 200px;
    background-repeat: no-repeat;
}


.common-bank-image-icon {
    background-image: url(/static/img/mobile/bank-icon.svg);
    background-size: 280px 100px;
    background-repeat: no-repeat;
}

.m-menu-container {
    & .m-menu-top {
        display: flex;
        width: 350px;
        height: 56px;
        padding: 16px 15px;
        background-color: #fff;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;

        & img {
            width: 130px!important;
        }
    }

    & .m-menu-list {
        & .m-menu-list-item {
            font-size: 16px;
            color: #181818!important;
        }

        & .m-menu-list-sub-item {
            padding-left: 6px;
            max-height: 60vh;
            font-size: 13px;
            color: #181818!important;
            line-height: 32px;
            overflow: scroll;


            & a {
                display: block;
            }
        }

        & .adm-list-item-content {
            border: none;
        }
    }
}

.m-account {
    width: 165px;
    padding: 15px;
    color: #181818;
    font-size: 14px;

    & div {
        margin-bottom: 15px;
    }

    & .btn {
        margin-bottom: 10px;
        font-size: 14px;
    }
}

.m-search {
    height: 100vh;

    & .m-search-header {
        display: flex;
        padding: 12px 18px;
        justify-content: space-between;
        align-items: center;

        & .m-search-h-l {
            & .input {
                width: 280px;
                height: 33px;
                padding: 10px;
                font-size: 12px;
                border: 1px solid #D3D7DE;
                border-radius: 3px;
                box-sizing: border-box;
            }
        }

        & .m-search-h-r {
            width: 15px;
            height: 15px;
            background-position: -54px -55px;
            background-size: 275px 100px
        }

        
    }


    & .m-search-content {
        padding: 15px 18px;
        border-top: 1px solid #D3D7DE;

        & .m-search-inner {
            margin-bottom: 15px;
            
            & .m-search-title {
                margin-bottom: 10px;
                font-size: 15px;
                color: #555555;
            }

            & .m-search-history {
                & .m-search-tag {
                    padding: 8px 10px;
                    font-size: 12px;
                    color: #181818;
                    border-radius: 3px;
                    border: 1px solid #D3D7DE;
                }
            }
        }
    }
}

.search-modal {
    & .adm-center-popup-wrap {
        max-width: unset;
        width: 100%;
        min-height: 100vh;
        height: -webkit-fill-available;

        & .adm-modal-body {
            max-height: unset;
            min-height: 100vh;
            height: -webkit-fill-available;
        }
    }

    & .search-box {
        & .search-box-header {
            width: 100%;
            margin-bottom: 5px;

            & .search-box-close {
                width: 15px;
                height: 15px;
                background-position: -54px -55px;
                background-size: 275px 100px;
            }
        
        }

        & .search-box-bar {
            height: 33px;
            font-size: 12px;

            & .adm-search-bar-input-box {
                height: 33px;
            }
        }

        & .search-r-item {
            line-height: 25px;
            font-size: 12px;
            color: #181818;
            border-bottom: 1px solid #D3D7DE;
        }

        & .ReactVirtualized__Grid__innerScrollContainer {
            max-width: unset!important;
        }
    }
   
}