.m-page-container {
    #header-block {
        height: 56px;
    }

    & .m-header {
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 56px;
        padding: 16px 15px;
        background-color: #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 10px 0px #D3D7DE;
        justify-content: space-between;
        z-index: 1000;

        & .m-header-left {
            width: 130px;
            height: 25px;

            & .m-logo {
                & .logo {
                    width: 130px;
                    height: 24px;
                }
            }
        }

        & .m-header-right {
            display: flex;
            width: 97px;
            justify-content: space-between;
            align-items: center;

            & .m-header-right-search {
                width: 22px;
                height: 22px;
                background-position: -33px -3px;
                background-size: 382px 105px;
            }

            & .m-header-right-avatar {
                width: 22px;
                height: 22px;
                background-position: -130px -4px;
                background-size: 382px 105px;
            }

            & .m-header-right-menu {
                width: 22px;
                height: 22px;
                background-position: -177px -4px;
                background-size: 382px 105px;
            }
        }
    }
}

