@import '/scss/utils/variable';

@mixin inputActive {
	top: -2px !important;
	transform: scale(0.9) translateY(-10px);
	background: $color-white !important;
	left: 6px !important;
}

@mixin inputActiveSuffix {
	@include inputActive;
	left: 2px !important;
}



.pub-custom-input-box {
	position: relative;

	.zqx-input-number {
		box-sizing: border-box;
		font-variant: tabular-nums;
		list-style: none;
		font-feature-settings: "tnum";
		position: relative;
		min-width: 0;
		color: rgba(0, 0, 0, 0.85);
		font-size: 14px;
		background-color: #fff;
		background-image: none;
		transition: all 0.3s;
		display: inline-block;
		width: 100%;
		margin: 0;
		padding: 0 11px;
		border: 1px solid #d9d9d9;
		border-radius: 2px;
		height: 32px;
		line-height: 32px;
		font-family: Arial;
		font-weight: 400;

		/* Firefox */
		-moz-appearance: textfield;

		&:focus {
			border-color: $color-link !important;
			outline: none !important;
			box-shadow: 0 0 0 transparent !important;
		}

		&:hover {
			border-color: $color-link;
		}

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			margin: 0;
			-webkit-appearance: none !important;
		}
	}

	.pub-custom-input-holder {
		position: absolute;
		top: 8px;
		left: 5px;
		padding: 0 5px;
		font-size: 13px;
		color: $color-text;
		background: #fff;
		line-height: 20px;
		transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
		pointer-events: none;
		z-index: 1;
		background: transparent;
	}

	&:focus {
		.zqx-input-number~.pub-custom-input-holder {
			@include inputActive;

		}
	}
}